In [5]:
import pandas as pd
df =pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
df=pd.DataFrame([10, 20, 30])
print(df)

    0
0  10
1  20
2  30

In [8]:
df=pd.DataFrame([1, 2, 3],[10,20, 30])
print(df)

    0
10  1
20  2
30  3

In [12]:
df = pd.DataFrame([[1, 2, 3], [10, 20, 30]],[1, 2])
print(df)

    0   1   2
1   1   2   3
2  10  20  30

In [13]:
dictionary={'code':[10, 20, 30],'ville':['Casa','Rabat','El Jadida']}
df = pd.DataFrame(dictionary)
print(df)

   code      ville
0    10       Casa
1    20      Rabat
2    30  El Jadida

In [15]:
iris = pd.read_csv("../datasets/iris.csv")
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
iris = pd.read_csv("../datasets/iris.csv")
print(iris.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [17]:
iris = pd.read_csv("../datasets/iris.csv", usecols=['sepal_length','species'])
print(iris.head())

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

In [18]:
print(iris.describe())

       sepal_length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

In [23]:
iris['sepal_length'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [24]:
iris[0:5]

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

In [25]:
iris.loc[1:5]

   sepal_length species
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa
5           5.4  setosa

In [34]:
iris = pd.read_csv("../datasets/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
iris.max(axis=1).head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

In [38]:
iris.max(axis=0).head()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object